<footer>
  <p mt-8 text-xs op-30>
    <a
      b-slate-link
      href="https://blog.topskylab.com/" target="_blank"
    >
    使用说明
    </a>
    <span b-slate > 剩余可用次数: <span font-bold text-orange-300 id="credit" >--</span></span>
  </p >
</footer>
