---
import Logo from './Logo.astro'
import Themetoggle from './Themetoggle.astro'
---

<header>
  <div class="fb items-center">
    <Logo />
    <Themetoggle />
  </div>
  <div class="fi mt-2">
    <span class="gpt-title">TopSkyLab</span>
    <span class="gpt-subtitle">Chatbot</span>
  </div>
  <p mt-1 op-60>生活,工作,学习,创作助手</p>
</header>
